# Site settings
title: Identity Complex
description: "my soapbox"
author: Jeff Malnick
email: ""
baseurl: "/identity-complex" # subpath of your site
url: "https://malnick.github.io" # base hostname & protocol

# Build settings
markdown: kramdown
highlighter: rouge

# Important: Allow future-dated posts and set timezone
future: true
timezone: America/Los_Angeles

# Sass
sass:
  style: compressed

# Exclude from build
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Default front matter
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: "Jeff Malnick"
